body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input, textarea {
	display: block;
	margin-bottom: 10px;
}

#messageSent {
	color: green;
	font-weight: bold;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.social-buttons {
  display: flex;
}

.social-button {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.social-button:hover {
  transform: scale(1.2);
}

.facebook {
  background-image: url(https://kosred.com/a/wkwhib.png);
}

.whatapp {
  background-image: url(https://kosred.com/a/fwydgw.png);
}

.instagram {
  background-image: url(https://kosred.com/a/lvlrmd.png);
}
.Tiktok{
  background-image: url(https://kosred.com/a/inbtpu.png);
}
.Telegram {
  background-image: url(https://kosred.com/a/prbggl.png);
}
.Youtube {
  background-image: url(https://kosred.com/a/cwzdhi.png);
}


.news {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

.content {
  margin-bottom: 10px;
  font-family: Georgia,serif;
  font-size: 19px;
}

.full-content {
  display: none;
  font-family: Georgia,serif;
  font-size: 19px;
}

.bold-and-colored {
  font-weight: bold;
  color: #FFA500;
}

}

.read-more {
  background-color: #FFA500;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.read-more:hover {
  background-color: #FFA500;
}

.show {
  display: block;
}
